@import "~bootstrap/scss/bootstrap";

html {
  user-select: none;
}

.text-justify {
  text-align: justify;
}

#footer {
  font-size: 62%;
  letter-spacing: -0.3px;
}

.page:not(#Accueil) {
  min-height: calc(100vh - 84px);
}

#Accueil {
  min-height: calc(100vh - 38px);
}

#intro-img {
  max-width: 360px;
  min-width: 220px;
  width: 33%;
  img {
    width: 90%;
  }
}

@media screen and (max-width: 460px) {
  #intro-img {
    max-width: none;
    min-width: none;
    width: 100%;
    float: none!important;
    img {
      width: 100%;
    }
  }
  
}

.content-box {
  overflow: auto;
  display: block;
}


@media screen and (min-width: 768px) {
  #footer {
    letter-spacing: 0;
    font-size: 90%;
  }
}
